.container{
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.example-body {
  display: flex;
  flex-direction: column;
}
.example-header {
  &__title{
    font-size: 18px;
  }
}

.space {
  padding: 10px;
}
