.example-body {
  text-align: center;
}
.camera-example-body{
  width: 100%;
  justify-content: center;
}

.container {
  display: flex;
}
.camera{
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 600px;
}
