.example-body {
  text-align: center;
  &__label {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__button{
    margin-top: 100px;
    text-align: center;
  }
}
