.checkbox-example {
  width: 100%;
  justify-content: center;
}
.checkbox-example-vertical {
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.select-box {
  margin: 20px 0;
  text {
    width: 100%;
    text-align: center;
  }
}

.checkbox-list {
  width: 100%;
  flex-direction: column;
  position: relative;
  padding: 0 15px;
  background-color: #FFFFFF;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.checkbox-list__label {
  width: 100%;
  position: relative;
  display: flex;
  padding: 10px 15px;
  border-top: 1px solid #e5e5e5;
}
