/*postcss-pxtransform rn eject enable*/
.example {
  &-body {
    height: 300px;
    &__scroll-view {
      height: 100%;
      white-space: nowrap;
      font-size: 0;
      &-item {
        font-size: 32px;
        width: 100%;
        display: inline-block;
        height: 100%;
      }
    }
    &--vertical {
      .example-body__scroll-view {
        &-item {
          display: block;
        }
      }
    }
  }
}

/*postcss-pxtransform rn eject disable*/
