.container {
  display: flex;
  flex-direction: column;
  color: cornflowerblue;
}
.switch-list {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    // background-color: #FFFFFF;
    &__text {
      color: black;
    }
}
